@using BugTrackerWebApp.ViewModels
@model EditProfileViewModel

<div class="main-container">
    <section class="bg-white space-sm pb-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h1 class="h2">Account Settings</h1>
                </div>
                <!--end of col-->
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">

                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
    </section>
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="profile" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="media flex-wrap mb-0 align-items-center">
                                @{
                                    var imageUrl = string.IsNullOrEmpty(Model.ProfileImageUrl)
                                    ? "/img/userImage.jpg"
                                    : Model.ProfileImageUrl;
                                }
                                <img alt="Image" src="@imageUrl" class="avatar avatar-lg mb-3 mb-md-0" width="256" height="256" />
                                <div class="media-body">
                                    <form asp-action="EditProfile" enctype="multipart/form-data">
                                        <label asp-for="Image" class="custom-file mb-2" for="file2">
                                            <input asp-for="Image" type="file" id="file2" class="custom-file-input height-0" oninput="submitProfileImage();" />
                                            <span class="btn btn-primary"><i class="icon-upload-to-cloud">&nbsp;</i>Upload</span>
                                            <span asp-validation-for="Image" class="text-danger"></span>
                                            <button id="submit-image-button" type="submit" hidden></button>
                                        </label>
                                        <div>
                                            <small>For best results, use an image at least 256px by 256px in either .jpg or .png format</small>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <hr />
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end of tab pane-->
            <div class="tab-pane fade" id="security" role="tabpanel">
                <div class="container"></div>
                <!--end of container-->
            </div>
            <!--end of tab pane-->
            <div class="tab-pane fade" id="notifications" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-info text-small mb-0" role="alert">
                                <i class="icon-shield"></i>
                                <span>
                                    We will never distribute your email address to third parties. Read about email communication in
                                    our privacy policy.
                                </span>
                                <a href="#">View privacy policy &rsaquo;</a>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <hr />
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
        </div>
        <!--end of tabs content-->
    </section>
    <!--end of section-->
</div>


<script type="text/javascript">
    function submitProfileImage() {
        document.getElementById("submit-image-button").click();
    }
</script>