@using BugTrackerWebApp.Data.Enum
@using BugTrackerWebApp.ViewModels
@model CreateBugViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <input type="hidden" id="AppUserId", name="AppUserId" asp-for="AppUserId" />
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Enter the title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" type="text" class="form-control" placeholder="Enter the description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="Criticality">Criticality</label>
                <select asp-for="Criticality" asp-items="@Html.GetEnumSelectList<BugPriority>()" class="form-control">
                    <option>---Select---</option>
                </select>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="Status">Status</label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<BugStatus>()" class="form-control">
                    <option>---Select---</option>
                </select>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label asp-for="ScreenShotOfError">ScreenShotOfError</label>
                <input asp-for="ScreenShotOfError" type="file" class="form-control" placeholder="ScreenShotOfError">
                <span asp-validation-for="ScreenShotOfError" class="text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <hr class="my-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>